.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
}

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: calc(100% - 10px * 2);
  max-width: 410px;
  padding: 53px 32px 37px 33px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.title {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 28px;
  margin: 0 0 16px;
  text-align: center;
  color: #424242;
}

.label {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 19px;
  margin: 0 0 7px;
  color: #424242;
}

.input {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 19px;
  box-sizing: border-box;
  height: 34px;
  margin: 0 0 25px;
  padding: 0;
  color: #424242;
  border: 1px solid #c9cacc;
  border-radius: 4px;
}

.input_error {
  border: 1px solid #eb1717;
  box-shadow: 0 0 4px rgba(235, 23, 23, 0.2);
}

.error {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  line-height: 14px;
  color: #eb1717;
}

.button {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
  align-self: flex-end;
  width: 116px;
  height: 34px;
  padding: 0;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
  background: linear-gradient(104.34deg, #3c4cad -15.34%, #00c3ff 145.95%);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}

.button:hover {
  box-shadow: 0 0 4px #99a0a3;
}

.button:active {
  border: 1.5px solid rgba(29, 138, 216, 0.3);
  background: linear-gradient(104.34deg, #5362be -15.34%, #4ad5ff 145.95%);
}
